<div class = "page_container">
  <h1>Find the perfect granny in your area</h1>
  <p>8 available in Kreuzberg</p>
  <div class = "results">
  <div class="card-trip">
    <img src="https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2015/11/18/1447873393o-GRANDPARENTS-facebook.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Emilia</h2>
        <p>Age: 81</p>
        <p>Acitivities: Gooing to the park, Reading books</p>
      </div>
      <h2 class="card-trip-pricing">€39.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.optikwolf.de/wp-content/uploads/2019/03/Alte-Frau-2019.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Corinna</h2>
        <p>Age: 71</p>
        <p>Acitivities: Listening to Prussian marches, Baking</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.thepostmillennial.com/wp-content/uploads/2019/07/Queen-puts-down-purse-and-picks-up-shovel-just-like-her-grandmother.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Constanze</h2>
        <p>Age: 61</p>
        <p>Acitivities: Riding, Cooking pancakes and waffles</p>
      </div>
      <h2 class="card-trip-pricing">€49.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://oncologynews.com.au/wp-content/uploads/grandmother-and-grandchild-in-park_oncology-news-australia.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Cosima</h2>
        <p>Age: 69</p>
        <p>Acitivities: Joga, Reading e-papers, Riding horses</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://vesti.kz/userdata/news/news_171678/crop4_b/photo_22212.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Andrea</h2>
        <p>Age: 75</p>
        <p>Acitivities: Bridge, Going to the zoo</p>
      </div>
      <h2 class="card-trip-pricing">€39.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://lotsahelpinghands.com/wp-content/uploads/2015/07/help-children-learn-600.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Susanne</h2>
        <p>Age: 84</p>
        <p>Acitivities: Cooking, telling war stories</p>
      </div>
      <h2 class="card-trip-pricing">€59.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i.dailymail.co.uk/i/pix/2012/08/17/article-0-149777C7000005DC-552_634x416.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Elizabeth</h2>
        <p>Age: 64</p>
        <p>Acitivities: Gooing to the opera</p>
      </div>
      <h2 class="card-trip-pricing">€39.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://s3-eu-west-1.amazonaws.com/iya-ghost-prod.inyourarea.co.uk/2017/12/Gladys-Goodwin.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Ludmilla</h2>
        <p>Age: 78</p>
        <p>Acitivities: Writing poems, riding horses</p>
      </div>
      <h2 class="card-trip-pricing">€35.99</h2>
    </div>
  </div>
  </div>
</div>
