
  <img class="avatar" alt="avatar" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fhoroscopes.lovetoknow.com%2Fcompatible-astrological-signs%2Fgemini-soulmate&psig=AOvVaw1OtFI1BodmMNuE47rGv1Jq&ust=1582807420140000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMD9kKSf7-cCFQAAAAAdAAAAABAI" />
  <p> Hi we are Mark and Rabea
    I'm the director of a web agency
  digital and my spouse works in finance as a
  trader.
  We work mainly in the centre of Paris,
  excluding business trips once or twice a month.
  Théo is already enrolled at the Massillon primary school in the
  Fourth, and we looking one.
  We don't have pets and we're no smokers.
Please feel free to contact us for more information.</p>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.number_of_kids %>
<%= link_to 'Edit',  edit_profile_path(@user)%>

