<div class = "page_container">
  <h1>Grannies</h1>

  <div class='booking-sub'>
  <p>Booked for upcomming occasions</p>
  </div>

<div class = "results">
  <div class="card-trip">
    <img src="https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2015/11/18/1447873393o-GRANDPARENTS-facebook.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Emilia</h2>
        <p>Age: 81</p>
        <p>Acitivities: Gooing to the park, Reading books</p>
      </div>
      <h2 class="card-trip-pricing">€39.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.optikwolf.de/wp-content/uploads/2019/03/Alte-Frau-2019.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Corinna</h2>
        <p>Age: 71</p>
        <p>Acitivities: Listening to Prussian marches, Baking</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.thepostmillennial.com/wp-content/uploads/2019/07/Queen-puts-down-purse-and-picks-up-shovel-just-like-her-grandmother.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Constanze</h2>
        <p>Age: 61</p>
        <p>Acitivities: Riding, Cooking pancakes and waffles</p>
      </div>
      <h2 class="card-trip-pricing">€49.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://oncologynews.com.au/wp-content/uploads/grandmother-and-grandchild-in-park_oncology-news-australia.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Cosima</h2>
        <p>Age: 69</p>
        <p>Acitivities: Joga, Reading e-papers, Riding horses</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
  </div>
</div>





<div class='booking-sub'>
  <h1>Booked in the past</h1>
</div>

<div class = "results">
  <div class="card-trip">
    <img src="https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2015/11/18/1447873393o-GRANDPARENTS-facebook.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Emilia</h2>
        <p>Age: 81</p>
        <p>Acitivities: Gooing to the park, Reading books</p>
      </div>
      <h2 class="card-trip-pricing">€39.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.optikwolf.de/wp-content/uploads/2019/03/Alte-Frau-2019.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Corinna</h2>
        <p>Age: 71</p>
        <p>Acitivities: Listening to Prussian marches, Baking</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://www.thepostmillennial.com/wp-content/uploads/2019/07/Queen-puts-down-purse-and-picks-up-shovel-just-like-her-grandmother.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Constanze</h2>
        <p>Age: 61</p>
        <p>Acitivities: Riding, Cooking pancakes and waffles</p>
      </div>
      <h2 class="card-trip-pricing">€49.99</h2>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://oncologynews.com.au/wp-content/uploads/grandmother-and-grandchild-in-park_oncology-news-australia.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Cosima</h2>
        <p>Age: 69</p>
        <p>Acitivities: Joga, Reading e-papers, Riding horses</p>
      </div>
      <h2 class="card-trip-pricing">€29.99</h2>
    </div>
</div>






  </div>
</div>
