<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3768140/pexels-photo-3768140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1><strong>Get-a-Granny</strong> helps you find lovely elderly in your district!</h1>
    <p>Find a Granny for any occasion.</p>
  <a class="btn btn-gradient" href="#">Find one now!</a>
  </div>
</div>
<div class="container">
    <ul id="options">
      <li>
        <h1><i class="fas fa-users"></i> </h1>
      </li>
      <li>
        <p>Connect with lovely eldery people from your district</p>
      </li>
      <br>
      <li>
        <h1><i class="fas fa-baby"></i> </h1>
      </li>
      <li>
        <p>Have experienced grannies look after your kids</p>
      </li>
      <br>
      <li>
        <h1><i class="fas fa-puzzle-piece"></i> </h1>
      </li>
      <br>
      <li>
        <p>Gain a new family member</p>
      </li>
    </ul>
</div>
