<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3768140/pexels-photo-3768140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1><strong>Get-a-Granny</strong> helps you find lovely elderly in your district!</h1>
    <p>Find a Granny for any occasion.</p>
	<a class="btn btn-gradient" href="#">Find one now!</a>
  </div>
</div>
