<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3768140/pexels-photo-3768140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1><strong>Get-a-Granny</strong> helps you find lovely elderly in your district!</h1>
    <p>Find a Granny for any occasion.</p>
    <%= link_to 'Find one now!', grannies_path, class: "btn btn-gradient" %>
  </div>
</div>
<div class="container">
  <div class="cards mr-5">
    <div class="card-categoryy">
      <h1><i class="fas fa-map-marker-alt"></i> </h1>
      <p>Find a Granny in your district</p>
    </div>

    <div class="card-categoryy">
      <h1><i class="fas fa-baby"></i> </h1>
      <p>Have experienced grannies look after your kids</p>
    </div>

    <div class="card-categoryy">
      <h1><i class="fas fa-users"></i> </h1>
      <p>Connect with lovely eldery people</p>
    </div>
  </div>
</div>
