.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #fc9d9d;
  transition: background 0.3s ease;
  height: 45px;
}

.btn-gradient:hover {
  background: #ea9085;
  color: white;
}